.container{
    border:2px solid black;
    background-color: rgb(213, 226, 226);
    width: 1000px;
}
.header{
    background-color: rgb(98, 121, 121);
    border: 2px solid black;
    /* height: 40px; */
    width: 998px;
    height:34px;
    border-top:2px solid black;
}
.opt1,
.opt2,
.opt3,
.opt4,
.login{
    display: inline-block;
    font-family:sans-serif;
    position:relative;
    left:250px;
}

.opt1{
font-size: larger;
left:120px;
text-align: center;

}


.opt2,.opt3,.opt4{
    border-right:2px solid black;
    text-align: center;
     width:100px;
     height: 32px;
  

}

.opt3,
.opt4{
    background-color: white;
    border-left: 2px solid black;
    width: 100px;
}


.login{
    left:350px;
   
}
.opt4 a{
    text-decoration:none;
    color:inherit;
    
}
.opt2{
    
    background: blue;
    color:white;
}
.box1{
    border: 2px solid black;
    height:200px;
    width:800px;
    margin:50px 80px;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.headline{
    font-family:serif;
    font-size: small;
    position:relative;
    left:10px;
    
}
.box1 img{
    position: relative;
    left:350px;
    top:40px;
    width:90px;
    height:20px;
}
.box2{
    border: 2px solid black;
    height:600px;
    width:800px;
    margin:50px 80px;
}
.box2 img{
    width:90px;
    height:40px;
}
.part pre{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    height:100px;
    width:300px;
    position: relative;
    right: 100px;
}
.icon1,
.icon1Content{
    display:inline-block;

} 

.icon1{
    position: relative;
    bottom:10px;
}
.icon1Content
h5{
    /* height:100px;
    width:300px; */
    position: relative;
    right: 45px;
}
.icon1Content
pre{
    /* height:100px;
    width:300px; */
    position: relative;
    right: 150px;
}
.icon2,
.icon2Content{
    display: inline-block;


    
    position: relative;
    bottom: 5px;
}